@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

header {
  background: #8000ff;
  text-align: center;
  height: 70px;
  padding: 20px;

  .head {
    display: flex;
    align-items: end;

    button {
      color: #ffffff;
      background: transparent;
      border: none;
    }
  }

  .logo_svg {
    width: 100%;
  }
}

.normal-container {
  position: relative;
  //   margin: 49px 8px 10px 8px;
}

.segment-container {
  color: #000000;
  width: fit-content;
  max-width: fit-content;
  // height: 38px;
  display: flex;
  border-radius: 18px;
  box-shadow: 0px 2px 4px #ccc;
  background-color: #ffffff;
  margin: 26px auto;
  padding: 4px;

  button {
    border-radius: 24px;
    display: flex;
    justify-content: end;
    align-items: center;
    // margin: 2px;
    transition: all 0.1s ease-in-out;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 17px !important;
    color: #8000ff !important;
    padding: 4px 10px;
    border: none;
    background: white;
    // background: #e0c0ff;
  }

  .active {
    border-radius: 24px;
    background-color: #e0c0ff;
    color: #ffffff;
    // width: 60%;
    // box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }
}

//

.dont {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: auto;
}

.img-container {
  text-align: center;
}

//

.add_contact {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding-bottom: 5px;

  button {
    background: #8000ff;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #ffffff;
    width: 90%;
    padding: 10px 0;
    border: none;
  }
}

.seachcontact {
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 15px;
  margin: 15px 0;
}

.trans_btn {
  background: transparent;
  border: none;
  padding: 8px 0;
}

.customers {
  min-width: 100%;
}

.title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 15px;
}

.initial_cont {
  width: 50px;

  .initial {
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
}

td {
  padding: 0px !important;
  border-bottom-width: 0 !important;
}

.number {
  font-size: 10px !important;
  color: gray !important;
}

.rowdata {
  display: table-row !important;
  height: 56px !important;
}

.subtext {
  font-size: 10px !important;
  color: gray !important;
}

.divider {
  border-top: 1px solid #DBDBDB;
}

.send {
  background: white !important;
  border-radius: 20px !important;
  padding: 2px 10px !important;
  border: 1px solid gray;
}

.cardbox {
  box-shadow: 0 4px 8px #0003 !important;
  border-radius: 10px;
  margin: 10% 4%;
  padding: 4%;
}

.personaldataconr {
  display: flex;

  .sendtxt {
    color: #8000ff;
  }
}

.pers_data {
  font-size: 12px;
  line-height: 17px;
  color: #2D2D2D;
  padding-top: 5px;
}

.datecont {
  font-size: 10px;
  color: gray;
  display: flex;
}

.date{
  align-self: center;
}
.expand_btn {
  min-width: fit-content;
  border: 1px solid;
  padding: 0 2px;
  height: 30px;
  line-height: 28px;
  border-radius: 20px;
}

.orderdata{
  font-size: 14px;
}