

<div class="boxDIRECT" *ngIf=" type == 'DIRECT' || ( type == 'F2F' && cashback == 0 ) ">
    <div class="container">
        <div class="row">
            <div class="upper_img">
                <img src="assets/aditya/boxUN.svg" alt="">
            </div>
            <div class="main">
                <div class="text" *ngIf="type == 'DIRECT' && cashback > 0">
                    <p>Once you Refr the store, <br> <span><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.00026 15.0454C12.4543 15.0454 15.2544 12.2454 15.2544 8.79128C15.2544 5.3372 12.4543 2.53711 9.00026 2.53711C5.54618 2.53711 2.74609 5.3372 2.74609 8.79128C2.74609 12.2454 5.54618 15.0454 9.00026 15.0454Z"
                                    fill="#FECB00" />
                                <path
                                    d="M8.87299 13.6362C11.5373 13.6362 13.6972 11.4764 13.6972 8.81208C13.6972 6.14777 11.5373 3.98792 8.87299 3.98792C6.20868 3.98792 4.04883 6.14777 4.04883 8.81208C4.04883 11.4764 6.20868 13.6362 8.87299 13.6362Z"
                                    fill="#EFA900" />
                                <path d="M6.50336 6.77167H8.87253V12.5604L5.50586 8.37L6.50336 6.77167Z"
                                    fill="#E19100" />
                                <path d="M11.5196 6.83752H9.15039V12.6267L12.5171 8.43586L11.5196 6.83752Z"
                                    fill="#E19100" />
                                <path d="M6.50336 6.63165H8.87253V12.1637L5.50586 8.15915L6.50336 6.63165Z"
                                    fill="#FECB00" />
                                <path d="M11.4746 6.68292L9.10547 6.68334V12.2154L12.4721 8.21084L11.4746 6.68292Z"
                                    fill="#FECB00" />
                                <path d="M10.2749 5.37292L9.28906 6.30418L11.2836 6.30709L10.2749 5.37292Z"
                                    fill="#E19100" />
                                <path d="M7.78466 5.37292L6.79883 6.30418L8.79341 6.30709L7.78466 5.37292Z"
                                    fill="#E19100" />
                                <path d="M10.2999 5.18292L9.31445 6.11417L11.3086 6.11709L10.2999 5.18292Z"
                                    fill="#FECB00" />
                                <path d="M7.78466 5.18292L6.79883 6.11417L8.79341 6.11709L7.78466 5.18292Z"
                                    fill="#FECB00" />
                            </svg>
                            {{cashback}} cashback</span> will be credited.
                    </p>

                </div>

                <div *ngIf="cashback > 0" class="second_heading">
                    <p>& you will not be able to exchange/return the product</p>
                </div>



                <div class="text" *ngIf="cashback == 0">
                    <p>Thankyou for your
                        purchase
                    </p>

                </div>

                <div class="second_heading" *ngIf="cashback == 0">
                    <p>Recommend this store to your friends and <b class="purple_txt">earn cashback</b> everytime your friend uses your <b>recommendation</b></p>
                </div>





                <div class="accept_del">
                    <div class="btns">
                        <button class="active" mat-button [disabled]="makingChanges" (click)="closeMe()">Refr Now</button>
                    </div>
                </div>
                <div class="return_period">
                    <p>*You can also Refr the store post the return period</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="boxF2F" *ngIf=" type == 'F2F' && cashback > 0 ">
    <div class="container">
        <div class="row">
            <div class="upper_img">
                <img src="../../../assets/img/accept/box.svg" alt="">
            </div>
            <div class="main">
                <div class="text">
                    <p>You’ve earned <span>2x Reward</span> on this purchase.
                    </p>

                </div>

                <div class="second_heading">
                    <p>Once you claim your reward, you will not be able to exchange/return the product</p>
                </div>


                <div class="accept_del">
                    <p>Claim Reward</p>
                    <div class="btns">
                        <button class="active" mat-button [disabled]="makingChanges" (click)="closeMe()">now</button>
                        <button mat-button [disabled]="makingChanges" (click)="close()">later</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>