.d_flex {
    display: flex;
}

.header {
    background: #f4f4f4 !important;
}

.SearchInput {
    border: none;
    outline: none;
    border-radius: 5px;
    width: 90%;
}

.SearchCont {
    width: 85%;
}

.A10padding {
    padding: 10px;
}

.A5padding {
    padding: 5px;
}

.tb5padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.t5padding {
    padding-top: 5px;
}

.AS_center {
    align-self: center;
}

.xxxl_size {
    font-size: 30px;
    height: 34px;
    width: 34px;
}

.r10padding {
    padding-right: 10px;
}

.segments {
    width: 50%;
    text-align: center;
    padding: 10px;
    background: white;
}

.t10padding {
    padding-top: 10px;
}

.r5padding {
    padding-right: 5px;
}

.l5padding {
    padding-left: 5px;
}

.l10padding {
    padding-left: 10px;
}

.b20padding {
    padding-bottom: 20px;
}

.purple_txt {
    color: rgba(129, 17, 232, 1);
    font-weight: bold;
}




.catList {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    width: stretch;
    object-fit: cover;
    max-height: 200px;
    display: none;
    background: #ffffff;
}

.imgLoaded {
    display: inline-block;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    box-sizing: border-box;
}

.card-img-container {
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    position: relative;
    margin: 9px;

    .card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 200px;
        max-height: 200px;
        border-radius: 7px;
    }

    .offer-tag {
        //background-image: url('../../assets/screen2/offertagpurple.svg');
        background-repeat: no-repeat;
        background-size: inherit;
        width: fit-content;
        position: relative;
        left: -4px;
        top: 18px;
        text-align: center;
        padding: 8px 5px 8px 5px;
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        line-height: 12px;
        z-index: 10;
        border-radius: 3px 8px 3px 8px;
    }

    .justify-content-space {
        justify-content: space-evenly;
    }

    .name-tag-width {
        width: 106px;
        position: relative;
        top: 92px;
    }

    .name-tag {
        //background-image: url('../../assets/screen2/nametag.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
        padding: 8px;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 12px;
        z-index: 10;
        border-radius: 3px 3px 0px 3px;
    }

    .footer {
        padding: 10px;

        b {
            font-weight: 700 !important;
        }

        .get-btn {
            background: #000000;
            border-radius: 4px 3px 3px 3px;
            color: white;
        }
    }
}

@media (max-width: 768px) {
    .card-img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 150px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        .tag {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 25px 0 0;
            text-align: center;
            padding: 6px;
            min-width: 100px;
            color: #fff;
            display: flex;

            .material-icons {
                font-size: 20px !important;
            }

            p {
                margin: 0 !important;
                font-size: var(--primary-font-size) !important;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 1024px) {
    .card-container .card-img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 205px;
        border-radius: 0;
        position: relative;
        width: 100%;
        margin-right: -12px;

        .tag {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 25px 0 0;
            text-align: center;
            padding: 6px;
            min-width: 100px;
            color: #fff;
            display: flex;

            .material-icons {
                font-size: 20px !important;
            }

            p {
                margin: 0 !important;
                font-size: var(--primary-font-size) !important;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .card-container .card-img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 150px;
        border-radius: 10px 10px 0 0;
        position: relative;
        width: 298px;
        margin-right: 26px;

        .tag {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 25px 0 0;
            text-align: center;
            padding: 6px;
            min-width: 100px;
            color: #fff;
            display: flex;

            .material-icons {
                font-size: 20px !important;
            }

            p {
                margin: 0 !important;
                font-size: var(--primary-font-size) !important;
                font-weight: 500;
            }
        }
    }
}

.products_details {
    display: flex;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #E3E3E3;

    .products_summary {
        width: calc(100% - 94px);
        align-self: center;

        .product_name {
            font-size: 16px !important;
            font-weight: 600;
            text-transform: capitalize;
            color: #373737;
        }

        .product_desc {
            font-size: 13px !important;
            color: #9C9C9C;
            padding: 8px 5px 8px 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 16px;
        }
    }
}

.img_add {
    background-size: contain;
    background-position: center;
    width: 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
    align-self: center;

    img {
        height: 80px;
        border-radius: 5px;
        width: 80px;
        object-fit: cover;
    }
}

.limitTextHeight {
    height: 38px;
    overflow: hidden;
}

.discount_final {
    display: flex;
    margin-top: 10px;

    .dis_price {
        font-size: 18px !important;
        text-decoration: line-through;
        color: #0000004d;
        padding-right: 10px !important;
    }

    .final_price {
        font-size: 18px !important;
        padding-right: 10px !important;
        font-weight: 400 !important;
    }

    .off {
        font-size: 14px !important;
        color: #9D6AFF;
    }
}

.add_button.Addminusbtn,
.add_button .add-to-card-button {
    line-height: 28px;
    background-color: #7472ed;
    font-size: 14px !important;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 3px;
    width: max-content;
    margin: auto;
}