.header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.header-details {
  display: flex;
  // justify-content: center;
  // width: 100%;
  // margin-right: 10%;
}

.header-img {
  border: none;
  outline: none;
  background: transparent;
}

.pro-details {
  font-weight: 500;
  font-size: 16px !important;
  margin: 0px !important;
  color: #000000;
  align-self: center;
}

//

.box {
  background: linear-gradient(90.5deg,
      #fadfe6 3.51%,
      #ced7f6 49.99%,
      #e0e5f9 90.14%);

  overflow: hidden;
  height: 100vh;
}

//

.top-img {
  margin-left: 30px !important;
}

//

.align-line {
  margin-left: 13px;
  position: relative;

  svg {
    position: absolute;
    margin-left: 68%;
    margin-top: -69px;
  }
}

.main-heading {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 32px !important;
  line-height: 40px !important;
}

.friend-recommend {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 25px !important;
  line-height: 40px !important;
}

.category {
  display: flex;
  margin-top: 23px;

  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 17px !important;
    line-height: 18px !important;
  }
}

.whatis {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 22px !important;
  line-height: 22px !important;
}

.para {
  margin-top: 15px;
  margin-left: 12px;

  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;
    width: 85%;
  }
}

//

.line {
  border: 1px solid #9d9d9d;
  margin: 0px 28px;
}

//

.shop {
  margin-left: 11px;

  .primary-line {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 22px !important;
    line-height: 24px !important;
    width: 93%;
  }
}

.list {
  padding-left: 31px;
  width: 85%;

  li {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;
  }
}

.secondary-line {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 23px !important;
  margin-top: 14px !important;
  margin-bottom: 20px !important;
}

.shop-smarter {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 22px !important;
  line-height: 32px !important;
}

.box {
  overflow: scroll !important;
}