.header {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 2px;

    p {
        margin-right: 1px !important;
        margin-left: 6px !important;
    }
}

.container {
    margin-top: 50px !important;
    background: #F9F9F9 !important;
}

//
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: -webkit-fill-available;
}


// .header {
//     display: flex;
//     justify-content: flex-start;
//     padding-top: 10px;
//     background: #ffffff;
//     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
//     padding-bottom: 2px;
//     p {
//       margin-right: 1px !important;
//       margin-left: 6px !important;
//     }
//   }

//

.overview-section {
    ul {
        list-style-type: none;
        display: flex;
        gap: 24px;
        padding: 0 0 0 13px;
        margin-top: 0px;

        li {
            a {
                // font-family: "Jost";
                font-style: normal;
                font-weight: 500;
                font-size: 16px !important;
                line-height: 23px !important;
                color: #000;
            }
        }
    }
}

.overview-section {
    ul {
        li {
            a:hover {
                font-weight: 600;
                color: #8111e8;
            }
        }
    }
}

//

.prod-image {
    margin-top: 0px;
    // margin-top: -28px;
    display: flex;
    overflow: auto;
    gap: 10px;
    width: 100%;
    background: #FFFFFF;
    // padding: 0 10px;

    img {
        max-height: 300px;
        width: 100%;
    }
}



.right {
    display: flex;

    button {
        background: linear-gradient(90deg, #fe848c -15%, #f24b57 125.71%);
        border-radius: 20px;
        // font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        height: 28px;
        padding: 0 10px;
        color: #ffffff;
        display: flex;
        align-items: center;
    }
}

.price-section {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    div {
        display: flex;
        align-items: center;

        p {
            // font-family: "Jost";
            font-style: normal;
            font-weight: 700;
            font-size: 14px !important;
            line-height: 20px !important;
            color: #000000;
            margin-top: 8px !important;
        }
    }
}

.bucketlist {
    button {
        background: #874bf9;
        border-radius: 50px;
        // font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 19px !important;
        width: 130px;
        height: 30px;
        color: #ffffff;
        margin-right: 11px;
        padding: 0;

        span {
            padding: 0 5px 0 10px !important;
        }

        .add {
            margin-right: 4px;
            margin-bottom: 2px;
        }
    }
}

.bucket {
    margin-left: 4px;
}

//

.burn-on-refr {
    margin-top: 20px;
    // display: flex;
    // align-items: center;

    a {
        margin: 0 0 0 13px;
        // font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 19px !important;
        color: #ffffff;
        background-color: #000;
        border-radius: 6px;
        padding: 6px 10px;
    }

    p {
        // font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 23px !important;
        color: #000000;
        margin-top: 8px !important;
    }
}

.prod-desc {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;

    color: #8a8a8a;
}

//

// .line {
//     background: #e5e5e5;
//     height: 5px;
//     margin-top: -15px;
// }

// .lines {
//     background: #e5e5e5;
//     height: 5px;
//     margin-top: -22px;
// }

//

.variations-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -21px;
    margin-right: 10px;

    div {
        display: flex;
        align-items: center;

        .variations {
            // font-family: "Jost";
            font-style: normal;
            font-weight: 700;
            font-size: 16px !important;
            line-height: 23px !important;
            color: #000000;
        }
    }
}

.button-right {
    button {
        padding: 0 !important;
    }
}

.color {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #747474;
    padding-top: 3px !important;
    margin-left: 0 !important;
}

.variations-img {
    margin: 14px;
    display: flex;
    gap: 11px;
}

//

.policy {
    display: flex;
    background: #fff5f6;
    padding: 8px 0;
    border-top: 5px solid #F0F1F6;
    border-bottom: 5px solid #F0F1F6;

    svg {
        padding-right: 5px !important;
    }

    div:nth-child(1) {
        border-right: 1px solid #B7BAC7;
    }

    div {
        display: flex;
        min-width: 50%;
        justify-content: center;
        align-items: center;
        padding: 2px 0;
        // p {
        //     // font-family: "Jost";
        //     font-style: normal;
        //     font-weight: 500;
        //     font-size: 12px !important;
        //     line-height: 17px !important;
        //     color: #000000;
        //     margin-right: 0 !important;
        //     margin-left: 6px !important;
        //     padding-top: 5px !important;
        // }
    }
}

// .vertical-line {
//     width: 25px;
//     height: 0px;
//     border: 1px solid #b7bac7;
//     transform: rotate(90deg);
//     margin-top: 10px;
// }

//

.list {
    margin: -20px 0 0 14px;
}

.store-product {
    display: flex;
    align-items: center;
}

.store-name {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    line-height: 17px !important;
    color: #000000;
}

.store-desc {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 14px !important;

    color: #000000;
}

// .store-details {
//     margin-top: -25px;
// }

.highlights {
    // margin-top: -20px;

    p {
        // font-family: "Jost";
        font-style: normal;
        font-weight: 700;
        font-size: 16px !important;
        line-height: 23px !important;

        color: #000000;
    }
}

.brand {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #000000;
}

.topic-desc {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #747474;
    display: flex;
    margin-left: 17px;
    align-items: center;
}

/*
  .topbrand {
    display: flex;
    margin-left: 17px;
    align-items: center;
    p {
      // font-family: "Jost";
      font-style: normal;
      font-weight: 600;
      font-size: 13px !important;
      line-height: 19px !important;
  
      color: #000000;
    }
    span {
      // font-family: "Jost";
      font-style: normal;
      font-weight: 500;
      font-size: 13px !important;
      line-height: 19px !important;
      color: #747474;
      margin: 0 0px 8px -13px;
    }
  }
 
  .xyz {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #747474;
    // padding-left: 15px !important;
  }
   */
.specifications {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 23px !important;
    color: #000000;
}

.benefits {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #747474;
    padding-left: 15px !important;
}

.topmar {
    // margin-top: -20px;
    border-top: 5px solid #F0F1F6;
    padding-top: 20px;
}

//

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.curated {
    p {
        // font-family: "Jost";
        font-style: normal;
        font-weight: 700;
        font-size: 24px !important;
        line-height: 22px !important;
        color: #231f20;
    }
}

.curated-for-you {
    text-align: center;
    padding: 10px;
    min-width: 161px;
    max-width: 156px;
    border-radius: 4px;
    margin: 0 0 0 19px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

    .curated-card {
        .img-curated {
            width: 161px;
            height: 163px;
            background-size: cover;
            background-position: bottom;
            border-radius: 4px;
        }
    }
}

.prod-text {
    text-align: left;
    // font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;
    color: #000000;
    margin-top: 8px !important;

    height: 44px;
    overflow: hidden;
}

.prod-desc {
    text-align: left;
    // font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;
    color: #969a9d;
    margin-right: 0 !important;

    a {
        // font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #874bf9;
    }
}

.prod-rup {
    text-align: left;
    // font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;
    text-decoration: line-through;
    color: #a4a4a4;
    margin: 0 !important;
    word-break: inherit;
}

.dis-rup {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 23px !important;

    color: #000000;
    word-break: inherit;
}

.rupees {
    display: flex;

    margin-left: 13px !important;
}

.prod-img {
    width: 144px;
}

.off {
    // font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #874bf9;
    text-align: left;
}

//

.right-card {
    margin-left: 6px;
}

.amount_buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    padding: 10px 20px;
    z-index: 100;

    .amount {
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        // line-height: 23px !important;
        margin-bottom: 0 !important;
    }

    .amount_price {
        font-style: normal;
        font-weight: 600;
        font-size: 20px !important;
        // line-height: 32px !important;
        color: #000000;
    }

    // .buy_now {
    //     display: flex;
  
        // .buybtn {
        //     background: #874bf9;
        //     border-radius: 20px;
        //     /* font-style: normal; */
        //     font-weight: 600;
        //     font-size: 15px !important;
        //     // line-height: 22px !important;
        //     color: #ffffff;
        //     border: none;
        //     outline: none;
        //     padding: 0px 20px;
        //     /* margin: 0 8px 0 0; */
        //     text-transform: capitalize;
        // }
    // }
    
    .buy_now {
        display: flex;
        .buybtn {
            background: #874bf9;
            border-radius: 20px;
            /* font-style: normal; */
            font-weight: 600;
            font-size: 15px !important;
            // line-height: 22px !important;
            color: #ffffff;
            border: none;
            outline: none;
            padding: 0px 20px;
            text-transform: capitalize;
        }
    }
}

// quantity
// .add-remove {
//   display: flex;
//   align-items: center;
//   margin-left: -9px !important;
//   margin-bottom: 0 !important;
// }

// .mat-icon-button i,
// .mat-icon-button .mat-icon {
//   color: #874bf9;
// }

// .mat-form-field {
//   width: 71px;
//   margin-top: 11px;
// }

// .plusminuscont {
//     display: flex;
//     background: #ede3ff87;
//     border-radius: 5px;
//     margin-right: 15px;
//     border: 1px solid #d4bcff;
//     margin: 5px 10px;

//     .qtycont {
//         align-self: center;
//     }

//     button {
//         min-width: auto !important;
//         font-size: 16px !important;
//         line-height: 26px;
//     }
// }

