<div class="A15padding">
    <!-- <div class="curvborder A15padding">
        <div>Select Off Day</div>
        <div>
            <mat-select [(ngModel)]="selectedoffDay" name="food">
                <mat-option *ngFor="let Daysss of WeekdaysList" [value]="Daysss.values">
                    {{Daysss.Days}}
                </mat-option>
            </mat-select>
        </div>
    </div> -->
    <!-- <div class="curvborder A15padding">
        <div>Select opening and Closing Time and Holiday</div>
        <table class="breaktimetable">
            <tr>
                <td>
                    <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="storeLoc.opensDaily">Daily ?</mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="legacy" class="fullWidth">
                        <mat-label>From</mat-label>
                        <input matInput [(ngModel)]="opensDailyS" name="opensDailyS" placeholder="07:00 AM" autocomplete="off"
                            type="time" required>
                        <mat-error>from is required.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="legacy" class="fullWidth">
                        <mat-label>To</mat-label>
                        <input matInput [(ngModel)]="opensDailyE" name="opensDailyS" placeholder="07:00 AM" autocomplete="off"
                            type="time" required>
                        <mat-error>To is required.</mat-error>
                    </mat-form-field>
                </td>
            </tr>






            <ng-container *ngIf="isDaily == false">
                <tr>
                    <td>
                        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="openSun">Sunday
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>From</mat-label>
                            <input matInput [(ngModel)]="openSunS" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>from is required.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>To</mat-label>
                            <input matInput [(ngModel)]="openSunE" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>To is required.</mat-error>
                        </mat-form-field>
                    </td>
                </tr>



                <tr>
                    <td>
                        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="openMon">Monday
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>From</mat-label>
                            <input matInput [(ngModel)]="ShopS" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>from is required.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>To</mat-label>
                            <input matInput [(ngModel)]="ShopE" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>To is required.</mat-error>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="issunday">Tuesday
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>From</mat-label>
                            <input matInput [(ngModel)]="ShopS" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>from is required.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>To</mat-label>
                            <input matInput [(ngModel)]="ShopE" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>To is required.</mat-error>
                        </mat-form-field>
                    </td>
                </tr>


                <tr>
                    <td>
                        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="issunday">Tuesday
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>From</mat-label>
                            <input matInput [(ngModel)]="ShopS" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>from is required.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>To</mat-label>
                            <input matInput [(ngModel)]="ShopE" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>To is required.</mat-error>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="issunday">Tuesday
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>From</mat-label>
                            <input matInput [(ngModel)]="ShopS" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>from is required.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>To</mat-label>
                            <input matInput [(ngModel)]="ShopE" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>To is required.</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="issunday">Tuesday
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>From</mat-label>
                            <input matInput [(ngModel)]="ShopS" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>from is required.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>To</mat-label>
                            <input matInput [(ngModel)]="ShopE" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>To is required.</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="issunday">Tuesday
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>From</mat-label>
                            <input matInput [(ngModel)]="ShopS" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>from is required.</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" class="fullWidth">
                            <mat-label>To</mat-label>
                            <input matInput [(ngModel)]="ShopE" name="opensDailyS" placeholder="07:00 AM"
                                autocomplete="off" type="time" required>
                            <mat-error>To is required.</mat-error>
                        </mat-form-field>
                    </td>
                </tr>

            </ng-container>




        </table>
    </div>
    <div class="curvborder A15padding">
        <div class="">Select OffTime?</div>
        <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="isbreak">MON</mat-slide-toggle>
        
        <div *ngIf="isbreak==true">Select Break Time</div>
        <table *ngIf="isbreak==true">
            <tr>
                <td>
                    <mat-form-field appearance="legacy" class="fullWidth">
                        <mat-label>From</mat-label>
                        <input matInput [(ngModel)]="breakS" name="opensDailyS" placeholder="07:00 AM"
                            autocomplete="off" type="time" required>
                        <mat-error>from is required.</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="legacy" class="fullWidth">
                        <mat-label>To</mat-label>
                        <input matInput [(ngModel)]="breakE" name="opensDailyS" placeholder="07:00 PM"
                            autocomplete="off" type="time" required>
                        <mat-error>To is required.</mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>



    <div>
        <button mat-button (click)="printvalue()">
            print all value
        </button>
    </div> -->



    <!-- <div>

    </div>




    <div>
        <section class="example-section">
            <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.opensDaily">
                Set opening hours
            </mat-slide-toggle>
        </section>
    </div>
    <div>
        <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>From</mat-label>
            <input matInput [(ngModel)]="storeLoc.opensDailyS" name="opensDailyS" placeholder="07:00 AM"
                autocomplete="off" type="time" required>
            <mat-error>from is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>To</mat-label>
            <input matInput [(ngModel)]="storeLoc.opensDailyE" name="opensDailyE" placeholder="07:00 AM"
                autocomplete="off" type="time" required>
            <mat-error>To is required.</mat-error>
        </mat-form-field>
    </div>



    <div *ngIf="storeLoc.opensDaily == false">
        <div>
            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openSun">
                    Sunday
                </mat-slide-toggle>
            </section>
        </div>
        <div>
            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>From</mat-label>
                <input matInput [(ngModel)]="storeLoc.openSunS" [disabled]="!storeLoc.openSun" name="openSunS"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>from is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>To</mat-label>
                <input matInput [(ngModel)]="storeLoc.openSunE" [disabled]="!storeLoc.openSun" name="openSunE"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>To is required.</mat-error>
            </mat-form-field>
        </div>




        <div>
            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openMon">
                    Monday
                </mat-slide-toggle>
            </section>
        </div>
        <div>
            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>From</mat-label>
                <input matInput [(ngModel)]="storeLoc.openMonS" [disabled]="!storeLoc.openMon" name="openMonS"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>from is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>To</mat-label>
                <input matInput [(ngModel)]="storeLoc.openMonE" [disabled]="!storeLoc.openMon" name="openMonE"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>To is required.</mat-error>
            </mat-form-field>
        </div>



        <div>
            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openTue">
                    tuesday
                </mat-slide-toggle>
            </section>
        </div>
        <div>
            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>From</mat-label>
                <input matInput [(ngModel)]="storeLoc.openTueS" [disabled]="!storeLoc.openTue" name="openTueS"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>from is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>To</mat-label>
                <input matInput [(ngModel)]="storeLoc.openTueE" [disabled]="!storeLoc.openTue" name="openTueE"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>To is required.</mat-error>
            </mat-form-field>
        </div>


        <div>
            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openWed">
                    Wednesday
                </mat-slide-toggle>
            </section>
        </div>
        <div>
            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>From</mat-label>
                <input matInput [(ngModel)]="storeLoc.openWedS" [disabled]="!storeLoc.openWed" name="openWedS"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>from is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>To</mat-label>
                <input matInput [(ngModel)]="storeLoc.openWedE" [disabled]="!storeLoc.openWed" name="openWedE"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>To is required.</mat-error>
            </mat-form-field>
        </div>


        <div>
            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openThu">
                    Thursday
                </mat-slide-toggle>
            </section>
        </div>
        <div>
            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>From</mat-label>
                <input matInput [(ngModel)]="storeLoc.openThuS" [disabled]="!storeLoc.openThu" name="openThuS"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>from is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>To</mat-label>
                <input matInput [(ngModel)]="storeLoc.openThuE" [disabled]="!storeLoc.openThu" name="openThuE"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>To is required.</mat-error>
            </mat-form-field>
        </div>


        <div>
            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openFri">
                    Friday
                </mat-slide-toggle>
            </section>
        </div>

        <div>
            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>From</mat-label>
                <input matInput [(ngModel)]="storeLoc.openFriS" [disabled]="!storeLoc.openFri" name="openFriS"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>from is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>To</mat-label>
                <input matInput [(ngModel)]="storeLoc.openFriE" [disabled]="!storeLoc.openFri" name="openFriE"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>To is required.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <section class="example-section">
                <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openSat">
                    Saturday
                </mat-slide-toggle>
            </section>
        </div>

        <div>
            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>From</mat-label>
                <input matInput [(ngModel)]="storeLoc.openSatS" [disabled]="!storeLoc.openSat" name="openSatS"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>from is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="fullWidth">
                <mat-label>To</mat-label>
                <input matInput [(ngModel)]="storeLoc.openSatE" [disabled]="!storeLoc.openSat" name="openSatE"
                    placeholder="07:00 AM" autocomplete="off" type="time" required>
                <mat-error>To is required.</mat-error>
            </mat-form-field>
        </div>

    </div>
    <div>
        <section class="example-section">
            <mat-slide-toggle class="example-margin" [(ngModel)]="storeLoc.openBreak">
                Non-Working hours
            </mat-slide-toggle>
        </section>
    </div>
    <div>
        <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>From</mat-label>
            <input matInput [(ngModel)]="storeLoc.openBreakS" [disabled]="!storeLoc.openBreak" name="openBreakS"
                placeholder="07:00 AM" autocomplete="off" type="time" required>
            <mat-error>from is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>To</mat-label>
            <input matInput [(ngModel)]="storeLoc.openBreakE" [disabled]="!storeLoc.openBreak" name="openBreakE"
                placeholder="07:00 AM" autocomplete="off" type="time" required>
            <mat-error>To is required.</mat-error>
        </mat-form-field>
    </div>
    <button mat-button (click)="showmsg()">
        Show Message
    </button>



    <div *ngIf="showmssg == true" (click)="opendailog()"> Store Time : Mon -
        <span *ngIf="storeLoc.opensDaily == false">
            <span *ngIf="storeLoc.openMon == false">Closed</span><span *ngIf="storeLoc.openMon == true">{{
                tConvert(storeLoc.openMonS) }} <span *ngIf="storeLoc.openBreak == true">- {{
                    tConvert(storeLoc.openBreakS) }} & {{ tConvert(storeLoc.openBreakE) }}</span> - {{
                tConvert(storeLoc.openMonE) }} <mat-icon>arrow_drop_down</mat-icon>
            </span>
        </span>
        <span *ngIf="storeLoc.opensDaily == true">
            {{ tConvert(storeLoc.opensDailyS) }}
            <span *ngIf="storeLoc.openBreak == true">- {{
                tConvert(storeLoc.openBreakS) }} & {{ tConvert(storeLoc.openBreakE) }}</span> - {{
            tConvert(storeLoc.opensDailyE) }} <mat-icon>arrow_drop_down</mat-icon>
        </span>
    </div> -->

    <!-- <div>
        Message Will Be
    </div>

    <div>

    </div>
    <div> -->
    <!-- <span *ngIf="weekstartday!=''">{{weekstartday}}-{{weekendday}} :</span> <span *ngIf="ShopS!=''">{{ShopS}} -
        </span><span *ngIf="isbreak==true">{{breakS}} & {{breakE}} -</span>
        {{ShopE}} <span *ngIf="selectedoffDay!=''">, {{selectedoffDay}} closed</span> -->
    <!-- <div>Store Timing: {{storeLoc.opensDailyS}} <span *ngIf="storeLoc.BreakDaily==true">- {{storeLoc.BreakStart}} &
                {{storeLoc.BreakEnd}}</span> - {{storeLoc.opensDailyE }}</div>
        <div *ngIf="storeLoc.opensDaily == false">
            All days open except
            <span *ngIf="storeLoc.openSun==false">Sunday</span>
            <span *ngIf="storeLoc.openSun==false && storeLoc.openMon==false">, </span>
            <span *ngIf="storeLoc.openMon==false">Monday</span>
            <span *ngIf="(storeLoc.openSun==false || storeLoc.openMon==false) && storeLoc.openTue==false">, </span>
            <span *ngIf="storeLoc.openTue==false">Tuesday</span>
            <span
                *ngIf="(storeLoc.openSun==false || storeLoc.openMon==false || storeLoc.openTue ==false) && storeLoc.openWed==false">,
            </span>
            <span *ngIf="storeLoc.openWed==false">Wednesday</span>

            <span
                *ngIf="(storeLoc.openSun==false || storeLoc.openMon==false || storeLoc.openTue ==false || storeLoc.openWed ==false) && storeLoc.openThu==false">,
            </span>
            <span *ngIf="storeLoc.openThu==false">Thursday</span>

            <span
                *ngIf="(storeLoc.openSun==false || storeLoc.openMon==false || storeLoc.openTue ==false || storeLoc.openWed ==false || storeLoc.openThu==false) && storeLoc.openFri==false">,
            </span>
            <span *ngIf="storeLoc.openFri==false">Friday</span>
            <span
                *ngIf="(storeLoc.openSun==false || storeLoc.openMon==false || storeLoc.openTue ==false || storeLoc.openWed ==false || storeLoc.openThu==false || storeLoc.openFri ==false) && storeLoc.openSat==false">,
            </span>
            <span *ngIf="storeLoc.openSat==false">Saturday</span>
        </div>
    </div>
    <div *ngIf="storeLoc.opensDaily == true">
        <span>All days open (Monday-Sunday)</span>
    </div>
    <div>{{storeLoc.opensDailyE}}</div>
    <div>{{storeLoc.opensDailyE}}</div>
    <div>{{storeLoc.opensDailyE > 12 ? "storeLoc.opensDailyE - 12" : "storeLoc.opensDailyE"}} </div> -->
    <!-- openSun==false || openMon==false || openTue ==false || openWed ==false || openThu==false || openFri ==false || openSat==false  -->


    <div *ngFor="let s of storearr">
        <span>
            {{s.name}}    
        </span>
        <span style="color: red;">
            {{getdatetime(s.sin)}}
        </span>

    </div>
</div>