<!-- <div class="col col-100">
    asd
    <div class="header">
        <div class="header-img">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>
        <div class="header-details">
            <p class="identity pro-details">Orders</p>
        </div>
    </div>
</div>
<div class="col col-100">
    <div class="header">
        <div class="header-secondary">
            <p>Order Details</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="main">
        <div class="row">
            <div class="col col-100">
                <div>
                    <div class="order-list">
                        <div>
                            <div>
                                <p class="order-id">ORDER DATE</p>
                            </div>
                            <div>
                                <p class="order-code">12/09/2022</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="order-id">ORDER TOTAL</p>
                            </div>
                            <div>
                                <p class="order-code">₹ 2000</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="order-id">ORDER ID</p>
                        </div>
                        <div>
                            <p class="order-code">100512163-0573735</p>
                        </div>
                    </div>
                </div>
                <div class="next-line">
                    <img class="line" src="../../../assets/img/order-detail/Frame 627.svg" alt="">
                </div>
                <div>
                    <p class="estimate">Once shipped, we will update the estimated Delivery Date.</p>
                </div>
                <div class="top">
                    <div class="orders-details">
                        <div>
                            <mat-icon class="checked">checkbox</mat-icon>
                        </div>
                        <div>
                            <p class="order-confirm">order confirmed</p>
                        </div>
                        <div>
                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>
                    <div class="vl"></div>
                    <div class="orders-details">
                        <div>
                            <mat-icon class="checked">checkbox</mat-icon>
                        </div>
                        <div>
                            <p class="order-confirm">Shipped</p>
                        </div>
                        <div>
                            <p class="order-confirm">14/09/2022</p>
                        </div>
                    </div>
                    <div class="vl-2"></div>
                    <div class="orders-details">
                        <div>
                            <mat-icon class="checked">checkbox</mat-icon>
                        </div>
                        <div class="shippped">
                            <p class="order-confirm">Out for Delivery</p>
                        </div>
                        <div>
                            <p class="order-confirm">15/09/2022</p>
                        </div>
                    </div>
                    <div class="vl-3"></div>
                    <div class="orders-details">
                        <div>
                            <mat-icon class="checked">checkbox</mat-icon>
                        </div>
                        <div class="shippped">
                            <p class="order-confirm">Delivered</p>
                        </div>
                        <div>
                            <p class="order-confirm">20/09/2022</p>
                        </div>
                    </div>
                </div>
                <div class="packed-items">
                    <div class="order-page">
                        <div class="order-img">
                            <img src="../../../assets/img/order-detail/unsplash_164_6wVEHfI.svg" alt="">
                        </div>
                        <div class="desc-qty">
                            <div>
                                <p class="order-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                            </div>
                            <div class="qty-price">
                                <div>
                                    <p class="quantity">Qty: 1</p>
                                </div>
                                <div>
                                    <p class="final-price">₹509</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="over">
                        <div>
                            <img src="../../../assets/img/order-detail/image 1665.svg" alt="">
                        </div>
                        <div>
                            <p class="return-over">Return period is over</p>
                        </div>
                    </div>
                    <div class="order-page">
                        <div class="order-img">
                            <img src="../../../assets/img/order-detail/unsplash_PDX_a_82obo.svg" alt="">
                        </div>
                        <div class="desc-qty">
                            <div>
                                <p class="order-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                            </div>
                            <div class="qty-price">
                                <div>
                                    <p class="quantity">Qty: 1</p>
                                </div>
                                <div>
                                    <p class="final-price">₹509</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="over">
                        <div>
                            <img src="../../../assets/img/order-detail/image 1665.svg" alt="">
                        </div>
                        <div>
                            <p class="return-over">Return period is over</p>
                        </div>
                    </div>
                    
                </div>
                <div class="next-line">
                    <img class="line" src="../../../assets/img/order-detail/Frame 627.svg" alt="">
                </div>
                <div class="prepare">
                    <p class="pack-items">Payment Information</p>
                    <p class="pay-method">PAYMENT METHOD</p>
                    <p class="master">MasterCard ending in 3740</p>
                    <p class="bill-address">BILLING ADDRESS</p>
                    <p class="bill-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna
                        aliqua.</p>
                </div>
                <div class="next-line">
                    <img class="line" src="../../../assets/img/order-detail/Frame 627.svg" alt="">
                </div>
                <div class="prepare">
                    <p class="ship-address">SHIPPING ADDRESS</p>
                    <p class="bill-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna
                        aliqua.</p>

                    <p class="bill-add">9040387536</p>
                </div>
                <div class="next-line">
                    <img class="line" src="../../../assets/img/order-detail/Frame 627.svg" alt="">
                </div>
                <div class="prepare">
                    <p class="ship-address">ORDER SUMMARY</p>
                    <div class="bill">
                        <div class="table">
                            <p class="bill-order">Order Total</p>
                            <p class="bill-order">₹12500.00</p>
                        </div>
                        <div class="table">
                            <p class="bill-order">Discount</p>
                            <p class="off bill-order">-₹9000.00</p>
                        </div>
                        <div class="table">
                            <p class="bill-order">Delivery Charges</p>
                            <p class="bill-order">₹90.00</p>
                        </div>
                        <div class="table">
                            <p class="bill-order">Refr cash used</p>
                            <p class="bill-order">0</p>
                        </div>
                        <div class="table" (click)="show = !show">
                            <p class="drop-down table bill-order">Other Charges <mat-icon><span>
                                        arrow_drop_down
                                    </span></mat-icon>
                            </p>
                            <p class="bill-order">₹90.00</p>
                        </div>
                        <div *ngIf="show" class="drop-down-content">
                            <div class="table">
                                <p class="other-charges bill-order">Restaurant Packaging Charges</p>
                                <p class="off bill-order other-charges">₹90.00</p>
                            </div>
                            <div class="table">
                                <p class="other-charges bill-order">Taxes</p>
                                <p class="off bill-order other-charges">₹90.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="payable table">
                        <p class="off">Payable Amount</p>
                        <p class="off">₹12500.00 </p>
                    </div>
                </div>
                <div class="next-line">
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
                <div class="invoice-left">
                    <p class="download">Download Invoice</p>
                    <p><img src="../../../assets/img/chevron_right_black_24dp.svg" alt=""></p>
                </div>
            </div>
        </div>
    </div>
</div> -->