<div>
    <div class="timeheading">
        Opening hours
    </div>

    <div class="daytimecont">
        <div class="daycont">
            Sunday
        </div>
        <span class="divide"></span>
        <div *ngIf="storeLoc.openSun == false">
            Closed
        </div>
        <div *ngIf="storeLoc.openSun == true">
            <div *ngIf="storeLoc.openBreak == true">
                <div>
                    {{ tConvert(storeLoc.openSunS) }} - {{ tConvert(storeLoc.openBreakS) }}
                </div>
                <div>
                    {{ tConvert(storeLoc.openBreakE) }} - {{ tConvert(storeLoc.openSunE) }}
                </div>
            </div>
            <div *ngIf="storeLoc.openBreak == false">
                {{ tConvert(storeLoc.openSunS) }} - {{ tConvert(storeLoc.openSunE) }}
            </div>
        </div>
    </div>



    <div class="daytimecont">
        <div class="daycont">
            Monday
        </div>
        <span class="divide"></span>
        <div *ngIf="storeLoc.openMon == false">
            Closed
        </div>
        <div *ngIf="storeLoc.openMon == true">
            <div *ngIf="storeLoc.openBreak == true">
                <div>
                    {{ tConvert(storeLoc.openMonS) }} - {{ tConvert(storeLoc.openBreakS) }}
                </div>
                <div>
                    {{ tConvert(storeLoc.openBreakE) }} - {{ tConvert(storeLoc.openMonE) }}
                </div>
            </div>
            <div *ngIf="storeLoc.openBreak == false">
                {{ tConvert(storeLoc.openMonS) }} - {{ tConvert(storeLoc.openMonE) }}
            </div>
        </div>
    </div>


    <div class="daytimecont">
        <div class="daycont">
            Tuesday
        </div>
        <span class="divide"></span>

        <div *ngIf="storeLoc.openTue == false">
            Closed
        </div>
        <div *ngIf="storeLoc.openTue == true">
            <div *ngIf="storeLoc.openBreak == true">
                <div>
                    {{ tConvert(storeLoc.openTueS) }} - {{ tConvert(storeLoc.openBreakS) }}
                </div>
                <div>
                    {{ tConvert(storeLoc.openBreakE) }} - {{ tConvert(storeLoc.openTueE) }}
                </div>
            </div>
            <div *ngIf="storeLoc.openBreak == false">
                {{ tConvert(storeLoc.openTueS) }} - {{ tConvert(storeLoc.openTueE) }}
            </div>
            <!-- {{ tConvert(storeLoc.openTueS) }} <span *ngIf="storeLoc.openBreak == true">- {{
                tConvert(storeLoc.openBreakS) }} & {{ tConvert(storeLoc.openBreakE) }}</span> - {{
            tConvert(storeLoc.openTueE) }} -->
        </div>
    </div>



    <div class="daytimecont">
        <div class="daycont">
            Wednesday
        </div>
        <span class="divide"></span>

        <div *ngIf="storeLoc.openWed == false">
            Closed
        </div>
        <div *ngIf="storeLoc.openWed == true">
            <!-- {{ tConvert(storeLoc.openWedS) }} <span *ngIf="storeLoc.openBreak == true">- {{
                tConvert(storeLoc.openBreakS) }} & {{ tConvert(storeLoc.openBreakE) }}</span> - {{
            tConvert(storeLoc.openWedE) }} -->
            <div *ngIf="storeLoc.openBreak == true">
                <div>
                    {{ tConvert(storeLoc.openWedS) }} - {{ tConvert(storeLoc.openBreakS) }}
                </div>
                <div>
                    {{ tConvert(storeLoc.openBreakE) }} - {{ tConvert(storeLoc.openWedE) }}
                </div>
            </div>
            <div *ngIf="storeLoc.openBreak == false">
                {{ tConvert(storeLoc.openWedS) }} - {{ tConvert(storeLoc.openWedE) }}
            </div>
        </div>
    </div>



    <div class="daytimecont">
        <div class="daycont">
            Thursday
        </div>
        <span class="divide"></span>

        <div *ngIf="storeLoc.openThu == false">
            Closed
        </div>
        <div *ngIf="storeLoc.openThu == true">
            <!-- {{ tConvert(storeLoc.openThuS) }} <span *ngIf="storeLoc.openBreak == true">- {{
                tConvert(storeLoc.openBreakS) }} & {{ tConvert(storeLoc.openBreakE) }}</span> - {{
            tConvert(storeLoc.openThuE) }} -->
            <div *ngIf="storeLoc.openBreak == true">
                <div>
                    {{ tConvert(storeLoc.openThuS) }} - {{ tConvert(storeLoc.openBreakS) }}
                </div>
                <div>
                    {{ tConvert(storeLoc.openBreakE) }} - {{ tConvert(storeLoc.openThuE) }}
                </div>
            </div>
            <div *ngIf="storeLoc.openBreak == false">
                {{ tConvert(storeLoc.openThuS) }} - {{ tConvert(storeLoc.openThuE) }}
            </div>
        </div>
    </div>



    <div class="daytimecont">
        <div class="daycont">
            Friday
        </div>
        <span class="divide"></span>

        <div *ngIf="storeLoc.openFri == false">
            Closed
        </div>
        <div *ngIf="storeLoc.openFri == true">
            <!-- {{ tConvert(storeLoc.openFriS) }} <span *ngIf="storeLoc.openBreak == true">- {{
                tConvert(storeLoc.openBreakS) }} & {{ tConvert(storeLoc.openBreakE) }}</span> - {{
            tConvert(storeLoc.openFriE) }} -->
            <div *ngIf="storeLoc.openBreak == true">
                <div>
                    {{ tConvert(storeLoc.openFriS) }} - {{ tConvert(storeLoc.openBreakS) }}
                </div>
                <div>
                    {{ tConvert(storeLoc.openBreakE) }} - {{ tConvert(storeLoc.openFriE) }}
                </div>
            </div>
            <div *ngIf="storeLoc.openBreak == false">
                {{ tConvert(storeLoc.openFriS) }} - {{ tConvert(storeLoc.openFriE) }}
            </div>
        </div>
    </div>



    <div class="daytimecont">
        <div class="daycont">
            Saturday
        </div>
        <span class="divide"></span>

        <div *ngIf="storeLoc.openSat == false">
            Closed
        </div>
        <div *ngIf="storeLoc.openSat == true">
            <!-- {{ tConvert(storeLoc.openSatS) }} <span *ngIf="storeLoc.openBreak == true">- {{
                tConvert(storeLoc.openBreakS) }} & {{ tConvert(storeLoc.openBreakE) }}</span> - {{
            tConvert(storeLoc.openSatE) }} -->
            <div *ngIf="storeLoc.openBreak == true">
                <div>
                    {{ tConvert(storeLoc.openSatS) }} - {{ tConvert(storeLoc.openBreakS) }}
                </div>
                <div>
                    {{ tConvert(storeLoc.openBreakE) }} - {{ tConvert(storeLoc.openSatE) }}
                </div>
            </div>
            <div *ngIf="storeLoc.openBreak == false">
                {{ tConvert(storeLoc.openSatS) }} - {{ tConvert(storeLoc.openSatE) }}
            </div>
        </div>
    </div>

</div>