.padding {
    margin: 20px 20px 10px 20px;
    .primary_heading {
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 20px !important;
        background: linear-gradient(180deg, #ff3b63 0%, #ff892b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 20px 0 8% 0 !important;
        padding-left: 10px !important;
        span {
          font-weight: 700;
        }
      }
    }
    .dflex {
      display: flex;
  
      .text_title {
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 13px !important;
          line-height: 19px !important;
  
          color: #454545;
        }
      }
    }
  }
  .bottom {
    background: #f7f1ff;
    border-radius: 20px 20px 0px 0px;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 11px !important;
      line-height: 16px !important;
      color: #454545;
      margin: 0 !important;
      padding: 20px 40px !important;
    }
  }