.header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 2px;
    background: #ffffff;
    box-shadow: 0 0 4px #00000040;
  }
  
  .header-details {
    display: flex;
    justify-content: center;
    // text-align: center;
    width: 100%;
    margin-right: 10%;
  }
  
  .header-img {
    margin-left: 6px;
  }
  
  .pro-details {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 23px !important;
    margin-bottom: 0px !important;
    color: #000000;
  }
  
  //
  
  .main {
    background: #fff;
    margin-top: 2px;
    //   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
  
  //
  
  .line {
    width: 95%;
  }
  //
  
  .order_wholelists {
    margin-top: 10px;
    border-bottom: 6px solid #f3f4f6;
  }
  
  .order-list {
    display: flex;
    width: 95%;
  }
  
  .mt-1 {
    margin: 0 0 1% 0;
  }
  
  .store_name {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 10px !important;
    line-height: 12px !important;
    color: #000000;
  
    margin-bottom: 0 !important;
  }
  
  .shop_name {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 20px !important;
    color: #6d7075;
  
    margin-bottom: 3px !important;
  }
  
  .order-details {
    line-height: 25px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    border-color: #874bf9 !important;
    padding: 0 8px;
    border-radius: 4px;
    color: #874bf9;
  }
  
  .confirm-or-not {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 22px !important;
    color: #6d7075;
  }
  
  //
  
  .date_day {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 15px !important;
    line-height: 22px !important;
  }
  
  .refr_cta {
    button {
      background: #a442ff;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-family: "Jost";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-transform: capitalize;
      color: #ffffff;
      padding: 5px 15px;
    }
  }
  
  .status_all {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  
  //
  
  .products {
    padding: 0px 17px 0px 16px;
  
    p {
      font-family: "Jost";
      font-style: normal;
      font-weight: 400;
      font-size: 12px !important;
      line-height: 23px !important;
      margin: 0 0 0 0 !important;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      color: #000000;
    }
    .more_items {
      font-family: "Jost";
      font-style: normal;
      font-weight: 500;
      font-size: 14px !important;
      line-height: 23px !important;
      margin: 0 0 0 0 !important;
    }
  }
  
  .view_all {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 12px !important;
    color: #545454;
    border: 1px solid #874bf9;
    line-height: 20px;
    margin: 0 0 2% 13px;
    padding: 0 !important;
    border: none;
  }
  //
  
  .ord_id {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 20px !important;
    margin-bottom: 8px !important;
  
    color: #6d7075;
  }
  
  //
  
  .product-img {
    padding: 5px;
  }
  
  .status-dispatched {
    .d_flex {
      display: flex;
      align-items: center;
      width: 95%;
      .refr {
        background: #874bf9;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        height: 32px;
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 14px !important;
        line-height: 22px !important;
  
        color: #ffffff;
      }
    }
  }