<div class="mobile-view">

    <div class="headSec">
        <div class="logo">
            <img src="assets/lucky/images/refrlogo.png" alt="" />
        </div>

        <div class="circle">
            <svg width="132" height="140" viewBox="0 0 132 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="34" cy="43.5" rx="98" ry="96.5" fill="white" fill-opacity="0.1" />
                <ellipse cx="33.7391" cy="43.729" rx="61.3846" ry="60.4451" fill="white" fill-opacity="0.15" />
            </svg>
        </div>

        <!-- <header>
            <div class="navigator">
                <div class="statusBar">
                    <span class="pBar" [style.width]="getWidth()"></span>
                    <div class="node n0 nConfirm0" [class.done]="statusBar >= 0">
                        <div class="main done m0 nConfirm0" [class.done]="statusBar >= 0"></div>
                        <span class="text t0 nConfirm0" [class.done]="statusBar >= 0">Recommend Us</span>
                    </div>
                    <div class="node n1 nConfirm1" [class.done]="statusBar >= 1">
                        <div class="main m1 nConfirm1" [class.done]="statusBar >= 1"></div>
                        <span class="text t1 nConfirm1" [class.done]="statusBar >= 1">Show Storefront</span>
                    </div>
                    <div class="node n3 nConfirm3" [class.done]="statusBar >= 2">
                        <div class="main m3 nConfirm3" [class.done]="statusBar >= 2"></div>
                        <span class="text t3 nConfirm3" [class.done]="statusBar >= 2">Get <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M7.99969 13.3736C11.07 13.3736 13.5589 10.8847 13.5589 7.81439C13.5589 4.74409 11.07 2.25513 7.99969 2.25513C4.92939 2.25513 2.44043 4.74409 2.44043 7.81439C2.44043 10.8847 4.92939 13.3736 7.99969 13.3736Z"
                                fill="#FECB00" />
                              <path
                                d="M7.88678 12.1212C10.2551 12.1212 12.1749 10.2014 12.1749 7.83307C12.1749 5.46479 10.2551 3.54492 7.88678 3.54492C5.5185 3.54492 3.59863 5.46479 3.59863 7.83307C3.59863 10.2014 5.5185 12.1212 7.88678 12.1212Z"
                                fill="#EFA900" />
                              <path d="M5.7812 6.01929H7.88712V11.1648L4.89453 7.44003L5.7812 6.01929Z" fill="#E19100" />
                              <path d="M10.2387 6.07788H8.13281V11.2238L11.1254 7.49862L10.2387 6.07788Z" fill="#E19100" />
                              <path d="M5.7812 5.89478H7.88712V10.8122L4.89453 7.25255L5.7812 5.89478Z" fill="#FECB00" />
                              <path d="M10.2007 5.94043L8.09473 5.9408V10.8582L11.0873 7.29858L10.2007 5.94043Z" fill="#FECB00" />
                              <path d="M9.13411 4.77588L8.25781 5.60366L10.0308 5.60625L9.13411 4.77588Z" fill="#E19100" />
                              <path d="M6.91926 4.77588L6.04297 5.60366L7.81593 5.60625L6.91926 4.77588Z" fill="#E19100" />
                              <path d="M9.15522 4.60693L8.2793 5.43471L10.0519 5.4373L9.15522 4.60693Z" fill="#FECB00" />
                              <path d="M6.91926 4.60693L6.04297 5.43471L7.81593 5.4373L6.91926 4.60693Z" fill="#FECB00" />
                            </svg> 100 NOW</span>
                    </div>
                </div>
            </div>
        </header> -->
    </div>

    <div style="padding: 30px 0;" class="b_white" *ngIf="!storeReference.id">
        <!-- <app-content></app-content> -->
    </div>

    <div class="container bold-500 section mt-1" *ngIf="storeReference.id">
        <div class="textL p-1">
            <div class="fs-18 textC">
                Let's help <b class="c_orange">{{storeReference.name}} </b> get discovered
            </div>
            <div class="fs-14 mt-2">
                Choose the emoji that best describe your experience
            </div>
            <div class="textC border">
                <div *ngFor="let x of emoji">
                    <button mat-button class="smiley" (click)="emojiSet = x.text" [class.actSmile]="emojiSet == x.text">
                        <img [src]=" 'assets/newBuild/' + x.img " />
                        <div></div>
                        {{x.name}}
                    </button>
                </div>
            </div>
            <div class="highlights mt-2">
                <div class="fs-16">&nbsp; Highlights of your experience</div>
                <div class="pill-groups">
                    <div class="mt-1 pill-group">
                        <div class="pill" *ngFor="let x of comments" [class.pillACT]="commentSet.includes(x)">
                            <button (click)="AddRemove(x)">{{x}}</button>
                            <!-- <button (click)=" !commentSet.includes(x) ? newComment(x) : commentSet.splice( commentSet.indexOf(x), 1 ) ">{{x}}</button> -->
                        </div>
                    </div>
                    <!--div class="mt-1 pill-group">
                        <div class="pill">
                            <button class="c_black">Experienced doctors</button>
                        </div>
                        <div class="pill">
                            <button class="c_black">Friendly staff</button>
                        </div>
                        <div class="pill">
                            <button class="c_black">Advanced technology</button>
                        </div>
                    </div>
                    <div class="mt-small pill-group">
                        <div class="pill">
                            <button class="c_black">Satisfactory experience</button>
                        </div>
                        <div class="pill">
                            <button class="c_black">Sterile & hygienic</button>
                        </div>
                        <div class="pill">
                            <button class="c_black">Easy scheduling</button>
                        </div>
                    </div-->
                </div>
            </div>

            <div class="comment-section mt-2">
                <mat-form-field appearance="legacy">
                    <mat-label>Add Comment (Optional)</mat-label>
                    <textarea matInput [(ngModel)]="say" placeholder="Tell us what you liked"></textarea>
                    <mat-hint align="end">{{say.length}}/240</mat-hint>
                </mat-form-field>
                <!--
                <div>Add Comment (Optional)</div>
                <textarea matInput placeholder="Tell us what you liked" rows="3"></textarea>
                -->
            </div>
            <div class="mt-1 textC">
                <button mat-button (click)="openDialog()" class="b_gradient c_white share">
                    SHARE
                </button>
            </div>
        </div>
    </div>
</div>