.card-box {
    margin: 0px !important;
    padding: 0px !important;
}

td.mat-cell:first-of-type,
td.mat-cell:last-of-type {
    padding: 5px !important;
}

table {
    width: 100%;
}

.gray_txt {
    color: gray;
    font-size: 12px;
}